:root{
    --button-color:rgb(255, 140, 0);
    --button-hover-color:rgb(245, 245, 245);

    --font-family:Georgia;
    --font-color:white;
    --button-padding:0.3rem 0.5rem;
    --button-border-radius:0.4rem;
    --button-font-size:1.5rem;
    --form-border-radius:0.6rem;
    --input-box-border-radius:0.8rem;

    --font-heading-family:sans-serif;

}

nav{
    

    /* BackGround */
    background-color: rgb(94, 105, 114);

    /* Box Designing */
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 0.3rem 0rem;

    /* position */
    position: sticky;
    top: 0rem;


}

nav .logo{
    margin-right: auto;
    margin-left: 1rem;

    width: 3rem;
    height: 3rem;
}

nav .logo img{
    width: 100%;
}

nav .nav-buttons{
   

    /* Box Designing */
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-right: 1rem;
}

nav .nav-buttons a{
    /* removing a tag */
    text-decoration: none;
}

nav .nav-buttons button{
    /* removing button design*/
    border: none;
}

.nav-but{

    /* font design */
    font-size: var(--button-font-size);
    font-family:  var(--font-family);
    color: var(--font-color);

    /* background */
    background-color:var(--button-color) ;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);

    /* Transition */
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}

.nav-but:hover{

    background-color: var(--button-hover-color);
    color: var(--button-color);
}